In [2]:
import mysql.connector as mysq

mydb = mysq.connect(
host="localhost",
user="root",
password="password",
database="dbms"
)
mycursor = mydb.cursor()

# DDL Statements 
-       Create tables:
>1.           User
>2.           Product
>3.           Reward
>4.           Cart
>5.           Cart Item

In [23]:
s1 = """CREATE TABLE User (
    Name varchar(255) NOT NULL,
    Age int,
    Number varchar(255),
    Visits int,
    UNIQUE (Name),
    PRIMARY KEY (Name));"""

s2 = """CREATE TABLE Product (
    Name varchar(255) NOT NULL,
    Price int,
    Supplier varchar(255),
    UNIQUE (Name),
    PRIMARY KEY (Name));"""

s3 = """CREATE TABLE Reward (
    Token varchar(255) NOT NULL,
    Discount int,
    User_Name varchar(255),
    Date_Allocated date,
    Date_Claimed date,
    FOREIGN KEY (User_Name) REFERENCES User(Name),
    UNIQUE (Token),
    PRIMARY KEY (Token));"""

s4 = """CREATE TABLE Cart (
    CartID varchar(255) NOT NULL,
    Total int,
    User_Name varchar(255),
    Reward_Allocated varchar(255),
    Reward_Claimed varchar(255),
    FOREIGN KEY (User_Name) REFERENCES User(Name),
    FOREIGN KEY (Reward_Allocated) REFERENCES Reward(Token),
    FOREIGN KEY (Reward_Claimed) REFERENCES Reward(Token),
    UNIQUE (CartID),
    PRIMARY KEY (CartID));"""

s5 = """CREATE TABLE CartItem (
    Quantity int,
    SubTotal int,
    Product_Name varchar(255),
    CartID varchar(255),
    FOREIGN KEY (CartID) REFERENCES Cart(CartID),
    FOREIGN KEY (Product_Name) REFERENCES Product(Name));"""

In [28]:
#print(s5)
mycursor.execute(s5)
mydb.commit()

# Populate

In [37]:
def add_user(name:str,age:int,number:str,visits:int):
    mycursor.execute("INSERT INTO User VALUES (%s,%s,%s,%s);",(name,age, number, visits))
    print("INSERT INTO User VALUES (%s,%s,%s,%s);",(name,age, number, visits))
    mydb.commit()

def add_product(name:str,price:int,supplier:str):
    mycursor.execute("INSERT INTO Product VALUES (%s,%s,%s);",(name,price,supplier))
    print("INSERT INTO Product VALUES (%s,%s,%s);",(name,price,supplier))
    mydb.commit()

def add_reward(token:str,discount:int,username:str,date_allocated,date_claimed):
    mycursor.execute("INSERT INTO Reward VALUES (%s,%s,%s,%s,%s);",(token,discount,username,date_allocated,date_claimed))
    print("INSERT INTO Reward VALUES (%s,%s,%s,%s,%s);",(token,discount,username,date_allocated,date_claimed))
    mydb.commit()

def add_cart(cartid:str,total:int,username:str,reward_allocated,reward_claimed):
    mycursor.execute("INSERT INTO Cart VALUES (%s,%s,%s,%s,%s);",(cartid,total,username,reward_allocated,reward_claimed))
    print("INSERT INTO Cart VALUES (%s,%s,%s,%s,%s);",(cartid,total,username,reward_allocated,reward_claimed))
    mydb.commit()

def add_cartitem(quantity:int,subtotal:int,productName:str,cartid:str):
    mycursor.execute("INSERT INTO CartItem VALUES (%s,%s,%s,%s);",(quantity,subtotal,productName,cartid))
    print("INSERT INTO CartItem VALUES (%s,%s,%s,%s);",(quantity,subtotal,productName,cartid))
    mydb.commit()

### Populate Users

In [30]:
add_user("pooshpal",21,"8945616588",4)
add_user("christopher",42,"5618653205",2)
add_user("anita",16,"1313586153",0)
add_user("susie",23,"8135186153",4)
add_user("rina",24,"1654322255",8)
add_user("ramesh",32,"8965552333",1)
add_user("manjunath",15,"8946513213",4)
add_user("sid",17,"6513206533",3)
add_user("radhika",36,"8946153210",2)
add_user("suresh",41,"6815351655",5)

INSERT INTO User VALUES (%s,%s,%s,%s); ('pooshpal', 21, '8945616588', 4)
INSERT INTO User VALUES (%s,%s,%s,%s); ('christopher', 42, '5618653205', 2)
INSERT INTO User VALUES (%s,%s,%s,%s); ('anita', 16, '1313586153', 0)
INSERT INTO User VALUES (%s,%s,%s,%s); ('susie', 23, '8135186153', 4)
INSERT INTO User VALUES (%s,%s,%s,%s); ('rina', 24, '1654322255', 8)
INSERT INTO User VALUES (%s,%s,%s,%s); ('ramesh', 32, '8965552333', 1)
INSERT INTO User VALUES (%s,%s,%s,%s); ('manjunath', 15, '8946513213', 4)
INSERT INTO User VALUES (%s,%s,%s,%s); ('sid', 17, '6513206533', 3)
INSERT INTO User VALUES (%s,%s,%s,%s); ('Rradhika', 36, '8946153210', 2)
INSERT INTO User VALUES (%s,%s,%s,%s); ('suresh', 41, '6815351655', 5)

In [31]:
add_product("Apple",82,"K.G Warehouse")
add_product("Banana",25,"N.M Warehouse")
add_product("Potato",13,"A.M Warehouse")
add_product("Tomato",26,"K.G Warehouse")
add_product("Spinach",80,"N.G Warehouse")
add_product("Cucumber",62,"K.G Warehouse")
add_product("Strawberry",120,"N.M Warehouse")
add_product("Watermelon",90,"A.M Warehouse")

INSERT INTO Product VALUES (%s,%s,%s); ('Apple', 82, 'K.G Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Banana', 25, 'N.M Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Potato', 13, 'A.M Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Tomato', 26, 'K.G Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Spinach', 80, 'N.G Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Cucumber', 62, 'K.G Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Strawberry', 120, 'N.M Warehouse')
INSERT INTO Product VALUES (%s,%s,%s); ('Watermelon', 90, 'A.M Warehouse')

In [36]:
import datetime
x = datetime.date(2020, 5, 17)
add_reward("XY%5736",4,"pooshpal",datetime.date(2020, 11, 1),datetime.date(2021, 1, 15))
add_reward("AC%2134",9,"anita",datetime.date(2020, 2, 15),datetime.date(2021, 1, 15))
add_reward("DF%8656",5,"susie",datetime.date(2020, 3, 21),datetime.date(2021, 11, 11))
add_reward("DF%8465",20,"rina",datetime.date(2020, 4, 12),datetime.date(2021, 9, 1))
add_reward("RG%2315",3,"pooshpal",datetime.date(2020, 5, 1),None)
add_reward("RG%2131",6,"ramesh",datetime.date(2020, 6, 16),None)
add_reward("GN%0102",11,"sid",datetime.date(2020, 7, 15),None)
add_reward("GN%8515",17,"anita",datetime.date(2020, 8, 11),None)
add_reward("UK%9620",32,"suresh",datetime.date(2020, 9, 10),None)
add_reward("UK%3156",20,"pooshpal",datetime.date(2020, 10, 1),None)

INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('XY%5736', 4, 'pooshpal', datetime.date(2020, 11, 1), datetime.date(2021, 1, 15))
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('AC%2134', 9, 'anita', datetime.date(2020, 2, 15), datetime.date(2021, 1, 15))
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('DF%8656', 5, 'susie', datetime.date(2020, 3, 21), datetime.date(2021, 11, 11))
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('DF%8465', 20, 'rina', datetime.date(2020, 4, 12), datetime.date(2021, 9, 1))
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('RG%2315', 3, 'pooshpal', datetime.date(2020, 5, 1), None)
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('RG%2131', 6, 'ramesh', datetime.date(2020, 6, 16), None)
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('GN%0102', 11, 'sid', datetime.date(2020, 7, 15), None)
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('GN%8515', 17, 'anita', datetime.date(2020, 8, 11), None)
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('UK%9620', 32, 'suresh', datetime.date(2020, 9, 10), None)
INSERT INTO Reward VALUES (%s,%s,%s,%s,%s); ('UK%3156', 20, 'pooshpal', datetime.date(2020, 10, 1), None)

In [43]:
add_cart("X01",150,"pooshpal","XY%5736",None)
add_cart("X85",170,"pooshpal","RG%2315","XY%5736")
add_cart("X25",100,"pooshpal","XY%5736",None)
add_cart("X86",450,"pooshpal","UK%3156",None)
add_cart("X45",250,"anita","AC%2134",None)
add_cart("X81",150,"anita","GN%8515","AC%2134")
add_cart("X02",300,"susie","DF%8656",None)
add_cart("X55",150,"susie",None,"DF%8656")
add_cart("X65",180,"rina","DF%8465",None)
add_cart("X68",320,"rina",None,"DF%8465")
add_cart("X84",180,"ramesh","RG%2131",None)
add_cart("X48",150,"sid","XY%5736",None)
add_cart("X99",150,"suresh","UK%9620",None)

INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X86', 450, 'pooshpal', 'UK%3156', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X45', 250, 'anita', 'AC%2134', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X81', 150, 'anita', 'GN%8515', 'AC%2134')
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X02', 300, 'susie', 'DF%8656', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X55', 150, 'susie', None, 'DF%8656')
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X65', 180, 'rina', 'DF%8465', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X68', 320, 'rina', None, 'DF%8465')
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X84', 180, 'ramesh', 'RG%2131', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X48', 150, 'sid', 'XY%5736', None)
INSERT INTO Cart VALUES (%s,%s,%s,%s,%s); ('X99', 150, 'suresh', 'UK%9620', None)

In [44]:
add_cartitem(2,164,"Apple","X01")
add_cartitem(1,13,"Potato","X01")
add_cartitem(3,75,"Banana","X01")

add_cartitem(1,62,"Cucumber","X85")
add_cartitem(2,164,"Apple","X85")

add_cartitem(2,240,"Strawberry","X86")
add_cartitem(1,62,"Apple","X86")

add_cartitem(4,248,"Apple","X25")

add_cartitem(2,180,"Watermelon","X45")
add_cartitem(2,160,"Spinach","X45")

add_cartitem(2,164,"Apple","X81")
add_cartitem(2,50,"Banana","X81")

add_cartitem(1,82,"Apple","X02")

add_cartitem(5,125,"Banana","X55")
add_cartitem(2,52,"Tomato","X55")

add_cartitem(4,104,"Tomato","X65")
add_cartitem(2,164,"Apple","X65")

add_cartitem(2,52,"Tomato","X68")
add_cartitem(2,164,"Apple","X68")
add_cartitem(2,50,"Banana","X68")

add_cartitem(2,240,"Strawberry","X84")
add_cartitem(2,164,"Apple","X84")

add_cartitem(2,164,"Apple","X45")

add_cartitem(10,130,"Potato","X99")

INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X01')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (1, 13, 'Potato', 'X01')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (3, 75, 'Banana', 'X01')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (1, 62, 'Cucumber', 'X85')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X85')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 240, 'Strawberry', 'X86')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (1, 62, 'Apple', 'X86')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (4, 248, 'Apple', 'X25')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 180, 'Watermelon', 'X45')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 160, 'Spinach', 'X45')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X81')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 50, 'Banana', 'X81')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (1, 82, 'Apple', 'X02')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (5, 125, 'Banana', 'X55')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 52, 'Tomato', 'X55')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (4, 104, 'Tomato', 'X65')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X65')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 52, 'Tomato', 'X68')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X68')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 50, 'Banana', 'X68')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 240, 'Strawberry', 'X84')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X84')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (2, 164, 'Apple', 'X45')
INSERT INTO CartItem VALUES (%s,%s,%s,%s); (10, 130, 'Potato', 'X99')

# JOIN QUERY

In [4]:
# Show all users details who have claimed rewards

mycursor.execute("SELECT DISTINCT(User.Name),User.Age,User.Number from User INNER JOIN Reward on User.Name = Reward.User_Name WHERE Reward.Date_Claimed IS NOT NULL;")
myresult = mycursor.fetchall()
myresult

[('anita', 16, '1313586153'),
 ('rina', 24, '1654322255'),
 ('susie', 23, '8135186153'),
 ('pooshpal', 21, '8945616588')]

In [5]:
# Show products and number of units sold of each

mycursor.execute("SELECT Product.Name, COUNT(*) FROM Product INNER JOIN CartItem ON Product.Name = CartItem.Product_Name GROUP BY Product.Name")
myresult = mycursor.fetchall()
myresult

[('Apple', 10),
 ('Banana', 4),
 ('Cucumber', 1),
 ('Potato', 2),
 ('Spinach', 1),
 ('Strawberry', 2),
 ('Tomato', 3),
 ('Watermelon', 1)]

In [20]:
# show cartid of carts with more than 5 items

mycursor.execute("SELECT Cart.CartID,SUM(CartItem.Quantity) AS count FROM Cart INNER JOIN CartItem ON Cart.CartID = CartItem.CartID GROUP BY CartID HAVING SUM(CartItem.Quantity)>5;")
myresult = mycursor.fetchall()
myresult

[('X01', Decimal('6')),
 ('X45', Decimal('6')),
 ('X55', Decimal('7')),
 ('X65', Decimal('6')),
 ('X68', Decimal('6')),
 ('X99', Decimal('10'))]

In [22]:
# show number of visits of user who claims reward

mycursor.execute("SELECT Name,Visits from User INNER JOIN Reward on User.Name = Reward.User_Name WHERE Reward.Date_Claimed IS NOT NULL;;")
myresult = mycursor.fetchall()
myresult

[('anita', 0), ('rina', 8), ('susie', 4), ('pooshpal', 4), ('pooshpal', 4)]

# AGGREGATE

In [23]:
# Show products and number of units sold of each

mycursor.execute("SELECT Product.Name, COUNT(*) FROM Product INNER JOIN CartItem ON Product.Name = CartItem.Product_Name GROUP BY Product.Name")
myresult = mycursor.fetchall()
myresult

[('Apple', 10),
 ('Banana', 4),
 ('Cucumber', 1),
 ('Potato', 2),
 ('Spinach', 1),
 ('Strawberry', 2),
 ('Tomato', 3),
 ('Watermelon', 1)]

In [24]:
# show cartid of carts with more than 5 items

mycursor.execute("SELECT Cart.CartID,SUM(CartItem.Quantity) AS count FROM Cart INNER JOIN CartItem ON Cart.CartID = CartItem.CartID GROUP BY CartID HAVING SUM(CartItem.Quantity)>5;")
myresult = mycursor.fetchall()
myresult

[('X01', Decimal('6')),
 ('X45', Decimal('6')),
 ('X55', Decimal('7')),
 ('X65', Decimal('6')),
 ('X68', Decimal('6')),
 ('X99', Decimal('10'))]

In [25]:
# SHow avg bill amount

mycursor.execute("SELECT AVG(Total) FROM Cart;")
myresult = mycursor.fetchall()
myresult

[(Decimal('207.6923'),)]

In [26]:
# Avg discount % claimed

mycursor.execute("SELECT AVG(Discount) FROM Reward WHERE Date_Claimed IS NOT NULL;")
myresult = mycursor.fetchall()
myresult

[(Decimal('9.0000'),)]

# SET

In [27]:
# SHow all products from K.G Warehouse and A.M Warehouse

mycursor.execute("SELECT Name,Supplier FROM Product WHERE Supplier = 'K.G Warehouse' UNION SELECT Name,Supplier FROM Product WHERE Supplier = 'A.M Warehouse'")
myresult = mycursor.fetchall()
myresult

[('Apple', 'K.G Warehouse'),
 ('Cucumber', 'K.G Warehouse'),
 ('Tomato', 'K.G Warehouse'),
 ('Potato', 'A.M Warehouse'),
 ('Watermelon', 'A.M Warehouse')]

In [28]:
# Show all products whose price is <50 or price > 100

mycursor.execute("SELECT Name,Price FROM Product WHERE Price<50 UNION SELECT Name,Price FROM Product WHERE Price>100;")
myresult = mycursor.fetchall()
myresult

[('Banana', 25), ('Potato', 13), ('Tomato', 26), ('Strawberry', 120)]

In [30]:
# Show all users with age < 22 or age> 40

mycursor.execute("SELECT Name,Age FROM User WHERE Age<22 UNION SELECT Name,Age FROM User WHERE Age>40;")
myresult = mycursor.fetchall()
myresult

[('anita', 16),
 ('manjunath', 15),
 ('pooshpal', 21),
 ('sid', 17),
 ('christopher', 42),
 ('suresh', 41)]

In [33]:
# Show all users with age < 22 and visits > 2

mycursor.execute("SELECT Name FROM User WHERE Age<22 INTERSECT SELECT Name FROM User WHERE Visits>2;")
myresult = mycursor.fetchall()
myresult

[('manjunath',), ('pooshpal',), ('sid',)]

# SQL
-       Functions
-       Trigger
-       Cursor

#### Gives the age of user given name

In [ ]:
s6 = """DELIMITER $$
CREATE FUNCTION llcart  (name VARCHAR(255))
RETURNS int
BEGIN
DECLARE ans int;
SELECT Age INTO ans FROM User Where User.Name = name;
RETURN ans;
END;$$
DELIMITER ;"""

mycursor.execute(s6)
mydb.commit()

### If a reward is already claimed, it gives error

In [49]:
s7 = """CREATE TRIGGER compcheck  
BEFORE UPDATE 
ON Reward FOR EACH ROW  
BEGIN  
    DECLARE error_msg VARCHAR(255);  
    declare count int;
    SET error_msg = ('Already Claimed');  
    IF (select Date_Claimed from Reward where Token = new.Token) IS NOT NULL THEN  
    SIGNAL SQLSTATE '45000'   
    SET MESSAGE_TEXT = error_msg;  
    END IF;  
END $$   """

### GEts all user names

In [51]:
s8 = """
DELIMITER $$
CREATE PROCEDURE users ()
BEGIN 
DECLARE is_done INTEGER DEFAULT 0;
DECLARE s_name VARCHAR(100) DEFAULT "";
DECLARE name_list VARCHAR(4000) DEFAULT "";
DECLARE stud_cursor CURSOR FOR SELECT Name FROM User;
DECLARE CONTINUE HANDLER FOR NOT FOUND SET is_done = 1;
OPEN stud_cursor;
get_list: LOOP
FETCH stud_cursor INTO s_name;
IF is_done = 1 THEN 
LEAVE get_list;
END IF;
SET name_list = CONCAT(s_name, ";", name_list);
END LOOP get_list;
SELECT name_list AS nm;
CLOSE stud_cursor;
END $$
DELIMITER ;"""

UPDATE User SET Name = %s, Age = %s, Number = %s, Visits = %s WHERE Name = %s; ('pooshpal', 21, '8545759625', 6, 'pooshpal')

ModuleNotFoundError: No module named 'database'